.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-sidenav-container {
  flex: 1;
  width: 100%;
  height: 100%;
}

.bg-toolbar{
  background: mediumaquamarine;
}

.width-300-px{
  width: 300px;
}

.height-100-p{
  height: 100%;
}
.example-sidenav{
  background: mediumturquoise;
}
