
<div [class]="theme">


  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #sidenav opened="true" [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list color="accent">
        <a mat-list-item>Item 1</a>
        <a mat-list-item>Item 2</a>
        <a mat-list-item>Item 3</a>
        <a mat-list-item>Item 4</a>
        <a mat-list-item>Item 5</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>

      <mat-toolbar color="warn">
          <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
          <h1 class="example-app-name">Angular Material Theming</h1>
        <div >
          <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
        </div>
      </mat-toolbar>

      <h1>
        Welcome to {{ title }}!
      </h1>

      <mat-card class="mb-20">
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
      </mat-card>

      <mat-card class="mb-20">
        <mat-select placeholder="Themes" [(ngModel)]="theme" (change)="onThemeChange()">
          <mat-option value="my-theme">My Theme (Light)</mat-option>
          <mat-option value="my-second-theme">My Second Theme (Dark)</mat-option>
        </mat-select>
      </mat-card>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
